__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
.envrc
*.DS_Store
outputs/*
!outputs/.gitkeep
!outputs/raw/
!outputs/raw/.gitkeep
!outputs/curated/
!outputs/curated/.gitkeep
!outputs/charts/
!outputs/charts/.gitkeep
